DB/*.txt
DB/*.fs
DB/*.fs.old
DB/*.fs.index
DB/*.fs.lock
DB/*.fs.tmp
DB/*.pyc
DB/*.swp
Views/*.pyc
Views/*.swp
images/
Docs/
*.mol2
*.mol
*.swp
*.pyc
*.png
.vscode
Solubiliad.sk2
*.com
*.svg
*.pdf
*.log
*.zip
*.ipynb
*.ipynb_checkpoints
*.csv
test.py
*.pyc
*.txt
test.ipynb
__pycache__/
