1.1/
1/
5/
6/
Worker_old.py
Views/uiMainWindow_old.ui
fid
style_sheet.css
test2.py
DB/*.txt
DB/*.fs
DB/*.fs.old
DB/*.fs.index
DB/*.fs.lock
DB/*.fs.tmp
DB/*.pyc
DB/*.swp
DB/__pycache__
Views/*.pyc
Views/*.swp
images/
Docs/
*.mol2
*.mol
*.swp
*.pyc
*.png
.vscode
Solubiliad.sk2
*.com
*.svg
*.pdf
*.log
*.zip
*.ipynb
*.ipynb_checkpoints
*.csv
test.py
*.pyc
*.txt
test.ipynb
__pycache__/
