DB/For-Sale.txt
Propionic_radical_anion.mol2
Propionic_radical_anion.mol
.vscode
Solubiliad.sk2
*.com
*.log
test.py
Tripos_atom_types.txt
test.ipynb
pymolwidget.py
prueba_pymol.py
DB/moleculesDB.fs.lock
main.py
